.images {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}
.container {
  margin-left: 20px;
}

.image-alone {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin: 0px 5px;
  transition: transform 450ms;
}
.images::-webkit-scrollbar {
  display: none;
}

.image-alone:hover {
  transform: scale(1.18);
}
